<app-default-login-layout title="Login into your account"
 primaryBtnText="Login Now"
 seconderyBtnText="Signup Now"
>
    <form [formGroup]="loginForm">
        
        <app-primary-input
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="cinthia@gmail.com"
        >
            <img src="/assets/svg/email.svg" alt="">
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Password"
            placeholder="Enter your password"
            >
            <img src="/assets/svg/password.svg" alt="">
        </app-primary-input>

    </form>
</app-default-login-layout>